<!DOCTYPE html>
<html>
    <head>


        <link rel="icon" href="https://i.pinimg.com/originals/21/fa/20/21fa20456026cda29beb6d1e4ab0252b.png" type="image/x-icon" />
        {% block head %}
        <title>Gym Manager</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css"> 
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{%endblock%}
        <script src="/scripts.js"></script>
    </body>
</html>